# Created by .ignore support plugin (hsz.mobi)
.idea/
spider.iml
/spider-parent/spider-annotations/pom.xml.versionsBackup
/spider-parent/pom.xml.versionsBackup
/spider-parent/spider-core/pom.xml.versionsBackup
/spider-parent/spider-spring-ui/pom.xml.versionsBackup
/spider-parent/spider-zuul/pom.xml.versionsBackup
/spider-parent/spider-gateway/pom.xml.versionsBackup
